services:
  front:
    build:
      context: .
      dockerfile: Dockerfile.dev
    image: qna-next:dev
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    env_file:
      - .env.dev
    ports:
      - "3000:3000"