services:
  front:
    platform: linux/amd64
    image: seonghun120614/qna-next:1.0
    environment:
      - NODE_ENV=production
    env_file:
      - .env
    ports:
      - "3000:3000"

  back:
    platform: linux/amd64
    image: seonghun120614/qna-spring:1.0
    environment:
      - JWT_ACCESS_SECRET_KEY=${JWT_ACCESS_SECRET_KEY}
      - JWT_REFRESH_SECRET_KEY=${JWT_REFRESH_SECRET_KEY}
      - SPRING_MAIL_USERNAME=${SPRING_MAIL_USERNAME}
      - SPRING_MAIL_PASSWORD=${SPRING_MAIL_PASSWORD}
      - SPRING_DATASOURCE_USERNAME=${MYSQL_USER}
      - SPRING_DATASOURCE_PASSWORD=${MYSQL_PASSWORD}
      - APP_CORS_ALLOWED_ORIGIN=http://${EC2_HOST}:3000
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy

  db:
    platform: linux/amd64
    image: seonghun120614/qna-mysql:1.0
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    env_file:
      - .env
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 512M
        reservations:
          cpus: '1'
          memory: 256M
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 10s
      retries: 10
      start_period: 5s