services:
  front:
    platform: linux/amd64
    image: seonghun120614/qna-next:1.0
    env_file:
      - .env
    ports:
      - "3000:3000"

  back:
    platform: linux/amd64
    image: seonghun120614/qna-spring:1.0
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy

  db:
    platform: linux/amd64
    image: seonghun120614/qna-mysql:1.0
    env_file:
      - .env
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 512M
        reservations:
          cpus: '1'
          memory: 256M
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 10s
      retries: 10
      start_period: 5s