name: Deploy on EC2

on:
  push:
    branches: [ main ]
  
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Copy docker-compose.yml via SCP
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "docker-compose.yml"
          target: "~/app"

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            echo "연결 성공"
            cd ~/app

            cat <<EOF > .env
            ${{ secrets.ENVFILE }}
            MYSQL_ROOT_PASSWORD=${{ MYSQL_ROOT_PASSWORD }}
            MYSQL_DATABASE=${{ MYSQL_DATABASE }}
            MYSQL_USER=${{ MYSQL_USER }}
            MYSQL_PASSWORD=${{ MYSQL_PASSWORD }}
            JWT_ACCESS_SECRET_KEY=${{ JWT_ACCESS_SECRET_KEY }}
            JWT_REFRESH_SECRET_KEY=${{ JWT_REFRESH_SECRET_KEY }}
            SPRING_MAIL_USERNAME=${{ SPRING_MAIL_USERNAME }}
            SPRING_MAIL_PASSWORD=${{ SPRING_MAIL_PASSWORD }}
            EOF

            docker compose down -v
            docker compose pull
            docker compose up -d